@import "../../../../assets/styles/variables";

.ion-alert-circled {
    display: block;
    float: right;
    margin-top: -28px;
    margin-right: 10px;
    font-size: 18px;
    color: #F65555;
    position: relative;
    z-index: 2;
}
.ion-alert-circled:hover {
    color: white;
}

.ion-alert-circled:hover + .error{
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

input.ng-dirty.ng-invalid.ng-touched {
    border-left: 3px solid #F65555;
}

.error {
    color: #F65555;
    display: block;
    float: right;
    // background: #F65555;
    margin-top: -34px;
    height: 34px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding-right: 33px;
    padding-top: 8px;
    padding-left: 6px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    
    
}