<div class="login">
  <div class="lock ion-ios-locked-outline"></div>
  <form [formGroup]="registrationForm" (ngSubmit)="onRegisterSubmit()" novalidate>
      <div class="form-group">
          <input class="form-control" type="email" formControlName="email" placeholder="{{ 'REGISTER.EMAIL' | translate }}">
          <div *ngIf="registrationForm.controls['email'].dirty && !registrationForm.controls['email'].valid && !registrationForm.controls['email'].untouched">
            <div class="ion-alert-circled"></div><div class="error">{{ problems.email | translate }}</div>
          </div>
      </div>
      
      <div class="form-group">
          <input #t  class="form-control" type="password" formControlName="password" placeholder="{{ 'REGISTER.PASSWORD' | translate }}">
          <div *ngIf="registrationForm.controls['password'].dirty && !registrationForm.controls['password'].valid && !registrationForm.controls['password'].untouched">
            <div class="ion-alert-circled"></div><div class="error">{{ problems.password | translate }}</div>
          </div>
      </div>
      
      <div class="form-group">
          <input class="form-control" type="password" formControlName="passwordAgain" placeholder="{{ 'REGISTER.PASSWORD_AGAIN' | translate }}">
          <div *ngIf="registrationForm.controls['passwordAgain'].dirty && !registrationForm.controls['passwordAgain'].valid && !registrationForm.controls['passwordAgain'].untouched">
            <div class="ion-alert-circled"></div><div class="error">{{ problems.passwordAgain | translate }}</div>
          </div>
      </div>
      <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">{{ 'REGISTER.REGISTER' | translate }}</button>
      </div>
  </form>
  <p class="pole-veel-kasutajat">{{ 'REGISTER.ALREADY_USER' | translate }} <a routerLink="/">{{ 'REGISTER.LOGIN' | translate }}</a></p>
</div>