<div class="login">
  <div class="lock ion-ios-locked-outline"></div>
  <form [formGroup]="registrationForm" (ngSubmit)="onRegisterSubmit()" novalidate>
      <div class="form-group">
          <input class="form-control" type="email" formControlName="email" placeholder="Email">
      </div>
      <div class="form-group">
          <input class="form-control" type="password" formControlName="password" placeholder="Parool">
      </div>
      <div class="form-group">
          <input class="form-control" type="password" formControlName="passwordAgain" placeholder="Parool uuesti">
      </div>
      <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">Registreeru</button>
      </div>

      <div class="form-group">
          <button class="btn btn-facebook btn-block" type="submit">
              <i class="box fa fa-facebook" aria-hidden="true"></i>
              <p>Registreeru Facebookiga</p>
          </button>
      </div>

      <div class="form-group">
          <button class="btn btn-google btn-block" type="submit">
              <i class="box fa fa-google" aria-hidden="true"></i>
              <p>Registreeru Googlega</p>
          </button>
      </div>
  </form>
  <p class="pole-veel-kasutajat">Kasutaja olemas? <a routerLink="/" class="green">Logi sisse!</a></p>
</div>