@import "../../../../assets/styles/variables";

.container {
    height: 70px;

    h3 {
        display: inline-block;
        padding-top: 5px;
        position: relative;
        z-index: 1;
    }
}

a {
    text-decoration: none !important;
}

h3{
    color: #686F83;
}

.languages {
    float: right;
    top: 28px;
    margin-top: 26px;

    a {
        color: white;

        &:hover {
            color: $green;
        }
    }
}