@import "../../../../assets/styles/variables";

.container {
    height: 70px;

    h3 {
        font-family: "Helvetica-M";
        padding-top: 5px;
    }
}

a {
    text-decoration: none !important;
}

h3{
    color: #686F83;
}
