@import "../../../../assets/styles/variables";

@media (min-width: 768px){
    div {
        margin-top: 5px;
        border-bottom: 1px solid $dark-gray;
        height: 25px;
        margin-bottom: 10px;

        a {
            color: white;
            font-size: 14px;
            font-weight: 400;
            display: inline-block;
            height: 100%;
            position: relative;
            bottom: -1px;
            padding: 0px 10px 0px 10px;

            &.active {
                color: $green;
                border-bottom: 1px solid $green;
            }

            &:hover, &:active {
                text-decoration: none;
                color: $green;
            }

            &:focus {
                text-decoration: none;
            }
        }
    }
}


@media (max-width: 767px){
    div {
        border: 0;
        padding-left: 35px;

        a {  
            color: white;
            display: block;
            font-size: 16px;
            line-height: 30px;
            text-decoration: none;
            padding: 0;

            &.active {
                color: $green;
            }

            &:hover {
                color: $green;
            }
        } 
    }
}