@import "../../../../../../assets/styles/variables";

form {
    position: relative;

    @media only screen and (min-width : 992px) {
        float: right;
        width: 190px;
        height: 33px;
        top: -50px;
    }

    @media only screen and (max-width : 991px) {
        height: 40px;
    }
}