@import "./variables";

button.btn.btn-primary{
  height: 40px;
  background: $dark-green;
  height: 40px;
  border: none;
  margin-top: 0px;
  border-radius: 2px;
  font-size: 17px;

  &:hover, &:focus, &:active, &:visited {
    border: none;
    box-shadow: none;
    outline: none;
    color:inherit;
    background: $green;
  }
}

body {
    height: 100%;
    background: $main-dark !important;
    color: white !important;
}

body, p, h1, h2, h3, h4, h5, h6, a{
    font-family: Lato !important;
}

html {
  height: 100%;
}

.body-container {
  min-height: 100%;
}

.centered{
  float: none;
  margin: 0 auto;
}

.green {
  color: $green;
}

.red {
  color: $red;
}


// Custom media queries

/* Extra small */
@media only screen and (min-width : 480px) {

}

/* Small */
@media only screen and (min-width : 768px) {

}

/* Medium */
@media only screen and (min-width : 992px) {
  .nopadding-md {
    padding: 0 !important;
    margin: 0 !important;
  }
}

/* Large */
@media only screen and (min-width : 1200px) {
  .nopadding-lg {
    padding: 0 !important;
    margin: 0 !important;
  }
}
