@import "./variables";

button.btn.btn-primary{
  height: 40px;
  background: $dark-green;
  height: 40px;
  border: none;
  margin-top: 0px;
  border-radius: 2px;
  font-size: 17px;
  transition: all .15s ease-in-out;

  &:hover, &:focus, &:active, &:visited {
    border: none;
    box-shadow: none;
    outline: none;
    color:inherit;
    background: $green;
  }
}

body {
    height: 100%;
    background: $main-dark !important;
    color: white !important;
}

body, p, h1, h2, h3, h4, h5, h6, a{
    font-family: Lato !important;
}

html {
  height: 100%;
}

.body-container {
  min-height: 100%;
}

.centered{
  float: none;
  margin: 0 auto;
}

.green {
  color: $green !important;
}

.red {
  color: $red !important;
}

input {
  &::-webkit-contacts-auto-fill-button, &::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
  }
}

.form-control {
  box-shadow: none;
  outline: none;

  &::-webkit-input-placeholder{
    color: #A2A7B4;
  }
}

.form-control.search {
  background: $dark-gray url(../images/search_icon.svg) no-repeat 10px center;
  background-size: 1.2em 1.2em;
  border: 1px solid #282C38;
  border-radius: 3px;
  color: $bluish-gray;
  font-weight: 500;
  padding-left: 35px;
  height: 100%;
}

// Custom media queries

/* Extra small */
@media only screen and (min-width : 480px) {

}

/* Small */
@media only screen and (min-width : 768px) {

}

/* Medium */
@media only screen and (min-width : 992px) {
  .nopadding-md {
    padding: 0 !important;
    margin: 0 !important;
  }
}

/* Large */
@media only screen and (min-width : 1200px) {
  .nopadding-lg {
    padding: 0 !important;
    margin: 0 !important;
  }
}
