@import "./variables";

// Fonts
@font-face {
  font-family: 'Helvetica-L';
  src: url('../fonts/HelveticaLight.otf');
  src: url('../fonts/HelveticaLight.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-T';
  src: url('../fonts/HelveticaNeueThin.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-M';
  src: url('../fonts/HelveticaNeueMedium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-B';
  src: url('../fonts/Helvetica-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-N';
  src: url('../fonts/HelveticaNeue.ttf');
  font-weight: normal;
  font-style: normal;
}

// Buttons

button.btn.btn-primary{
    height: 40px;
    background: $dark-green;
    height: 40px;
    border: none;
    margin-top: 0px;
    border-radius: 2px;
    font-family: Helvetica-M, sans-serif;
    
    &:hover, &:focus, &:active, &:visited {
        border: none;
        box-shadow: none;
        outline: none;
        color:inherit;
        background: $green;
    }
}


button.btn.btn-facebook {
    @extend .btn-primary;
    background: $facebook;
    padding: 0px;
    margin-top: 25px;

    &:hover,&:focus, &:active, &:visited {
        background: $facebook-hover;
    }

    p {
        display: inline-block;
        margin-top: 10px;
        margin-left: -20px;
    }
    .box {
        float:left;
        font-size: 20px;
        height: 100%;
        width: 50px;
        padding-top: 10px;
        border-right: 1px solid #344B78;
    }
}

button.btn.btn-google {
    @extend .btn-facebook;
    margin-top: -5px;
    background: $google;

    .box {
        border-right: 1px solid #A8433A;
    }

    &:hover, &:focus, &:active, &:visited {
        background: $google-hover;
    }
}


body {
  background: $main-dark !important;
  font-family: "Helvetica-T" !important;
  color: white !important;
}



.centered{
    float: none;
    margin: 0 auto;
}

.green {
  color: $green;
}


// Custom media queries

/* Extra small */
@media only screen and (min-width : 480px) {

}

/* Small */
@media only screen and (min-width : 768px) {

}

/* Medium */
@media only screen and (min-width : 992px) {
  .nopadding-md {
    padding: 0 !important;
    margin: 0 !important;
  }
}

/* Large */
@media only screen and (min-width : 1200px) {
  .nopadding-lg {
    padding: 0 !important;
    margin: 0 !important;
  }
}