$main-dark: #30333B;
$secondary-dark: #252830;
$dark-green: #26A97E;
$green: #1CCB91;
$green-hover: #15E49F;
$light-gray: #CBCBCB;
$bluish-gray: #D2D5E0;
$gray: #7D828F;
$facebook: #3C5A96;
$facebook-hover: #4269B4;
$google: #D8493B;
$google-hover: #BB3527;