<h2>
    {{ 'SUBJECTS.HEADING' | translate }}
</h2>

<div class="row">

    <div *ngFor="let subject of subjects" class="subject">
        <h3>{{subject.name}}</h3>

        <p class="count-info">{{subject.testCount}} <span>TESTI</span></p>
        <p class="count-info">{{subject.questionCount}} <span>ERIENVAT KÜSIMUST</span></p>

        <!--<h1>{{subject.testCount}} <span>TESTI</span></h1>-->
        <!--<h1>{{subject.questionCount}} <span>ERINEVAT KÜSIMUST</span></h1>-->

        <!--<p *ngFor="let test of subject.tests">-->
            <!--{{test.name}}-->
        <!--</p>-->
    </div>



</div>