<h2>
    {{ 'SUBJECTS.HEADING' | translate }}
</h2>

<form>
    <input type="text" spellcheck="false" class="form-control search" placeholder="{{ 'SUBJECTS.SEARCH_SUBJECT' | translate }}">
</form>

<div class="row">


    <div class="subject" *ngFor="let subject of subjects" (click)="toggleCollapse(subject.code)" [ngClass]="{'expanded':isExpanded(subject.code)}">
        <h3>{{subject.name}}</h3>

        <p class="count-info">{{subject.testCount}} <span>TESTI</span></p>
        <p class="count-info">{{subject.questionCount}} <span>ERIENVAT KÜSIMUST</span></p>

        <a *ngFor="let test of subject.tests">
            {{test.name}}
        </a>
    </div>



</div>