<div class="container-fluid footer">
    <div class="row maps">
        <div class="col-sm-10 col-sm-offset-1">
            <sebm-google-map [zoom]="zoom" [latitude]="lat" [longitude]="lng">
            <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
            </sebm-google-map>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                    <div class="social-links">
                        <a><i class="fa fa-facebook fa-lg"></i></a>
                        <a><i class="fa fa-twitter fa-lg"></i></a>
                        <a><i class="fa fa-pinterest fa-lg"></i></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="right">
                        © Kõik õigused kaitstud
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
