<div class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                <div class="social-links">
                    <a><i class="fa fa-facebook fa-lg"></i></a>
                    <a><i class="fa fa-twitter fa-lg"></i></a>
                    <a><i class="fa fa-pinterest fa-lg"></i></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="right">
                    © {{ 'FOOTER.TERMS' | translate }}
                </div>
            </div>
        </div>
    </div>
</div>
