@import "../../../../assets/styles/global";

.login {
        .lock {
            font-size: 100px;
            color: $green;
            text-align: center;
            height: 120px;
        }
    }