<div class="login">
  <div class="lock ion-ios-locked-outline"></div>
  <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" novalidate>
      <div class="form-group">
          <input class="form-control" type="email" formControlName="email" placeholder="{{ 'LOGIN.EMAIL' | translate }}">
      </div>
      <div class="form-group">
          <input class="form-control" type="password" formControlName="password" placeholder="{{ 'LOGIN.PASSWORD' | translate }}">
      </div>
      <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">{{'LOGIN.LOGIN' | translate}}</button>
      </div>

      <div class="form-group">
          <button class="btn btn-facebook btn-block" type="submit">
              <i class="box fa fa-facebook" aria-hidden="true"></i>
              <p>{{'LOGIN.LOGIN_FACEBOOK' | translate}}</p>
          </button>
      </div>

      <div class="form-group">
          <button class="btn btn-google btn-block" type="submit">
              <i class="box fa fa-google" aria-hidden="true"></i>
              <p>{{'LOGIN.LOGIN_GOOGLE' | translate}}</p>
          </button>
      </div>
  </form>
  <p class="pole-veel-kasutajat">{{'LOGIN.NOT_USER' | translate}} <a routerLink="/register" class="green">{{'LOGIN.REGISTER' | translate}}</a></p>
</div>