<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <div class="row">
                    <div class="welcome col-lg-12">
                        <h1>{{ 'WELCOME.WELCOME' | translate }}<span class="green">{{ 'WELCOME.WELCOME.BOX' | translate }}</span></h1>
                        <h4>{{ 'WELCOME.FASTEST_WAY' | translate }}</h4>
                    </div>

                    <div class="info-points col-lg-12">
                        <p class="check">{{ 'WELCOME.SAFE_PASSWORD' | translate }}</p>
                        <p class="check">{{ 'WELCOME.DELETE_TESTS' | translate }}</p>
                        <p class="check">{{ 'WELCOME.EASY_TO_USE' | translate }}</p>
                        <p class="expl">{{ 'WELCOME.ON_REGISTER' | translate }} <span class="green">{{ 'WELCOME.TERMS' | translate }}</span></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-5 col-sm-6">
                <div class="login-registration-area">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container statistics">
    <div class="row">
        <div class="col-md-3 col-md-offset-1 col-sm-4">
            <div class="left">
                <div class="square">
                    <div class="glyphicon glyphicon-user" aria-hidden="true"></div>
                </div>
                <div class="info">
                    <h1>399</h1>
                    <p>{{ 'WELCOME.ACTIVE_USER' | translate }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-4">
            <div class="center">
                <div class="square">
                    <div class="glyphicon glyphicon-record" aria-hidden="true"></div>
                </div>
                <div class="info">
                    <h1>26</h1>
                    <p>{{ 'WELCOME.DIFFERENT_SUBJECTS' | translate }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-4">
            <div class="right">
                <div class="square">
                    <div class="glyphicon glyphicon-edit" aria-hidden="true"></div>
                </div>
                <div class="info">
                    <h1>287</h1>
                    <p>{{ 'WELCOME.MOODLE_TESTS' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container contact">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <h2><span class="green">{{ 'WELCOME.QUESTION' | translate }}</span> {{ 'WELCOME.CONTACT_US' | translate }}</h2>
            <form [formGroup]="feedbackForm" (ngSubmit)="onFeedbackSubmit()" novalidate>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <input type="text" formControlName="name" class="form-control" placeholder="{{ 'WELCOME.NAME' | translate }}">
                            <div *ngIf="feedbackForm.controls['name'].dirty && !feedbackForm.controls['name'].valid && !feedbackForm.controls['name'].untouched">
                                <div class="ion-alert-circled"></div><div class="error">{{ problems.name | translate}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <input type="email" formControlName="email" class="form-control" placeholder="{{ 'WELCOME.EMAIL' | translate }}">
                            <div *ngIf="feedbackForm.controls['email'].dirty && !feedbackForm.controls['email'].valid && !feedbackForm.controls['email'].untouched">
                                <div class="ion-alert-circled"></div><div class="error">{{ problems.email | translate }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12">
                        <div class="form-group">
                            <textarea formControlName="message" class="form-control" placeholder="{{ 'WELCOME.MESSAGE' | translate }}"></textarea>
                            <div *ngIf="feedbackForm.controls['message'].dirty && !feedbackForm.controls['message'].valid && !feedbackForm.controls['message'].untouched">
                                <div class="ion-alert-circled"></div><div class="error">{{ problems.message | translate }}</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-3 col-sm-push-9">
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit">
                                {{ 'WELCOME.SEND' | translate }}
                            </button>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-9 col-sm-pull-3 green" *ngIf="feedbackSuccess == true">
                        {{ 'WELCOME.SUCCESSFUL_FEEDBACK' | translate }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
