<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="welcome col-lg-12">
                        
                        <h3>Tere tulemast moodleBoxi!</h3>
                        <h4>Kiireim viis oma moodle testidel silm peal hoida</h4>
                    </div>

                    <div class="info-points col-lg-12">
                        <p class="check">Me ei salvesta Sinu Moodle parooli</p>
                        <p class="check">Võid alati oma testid meie serverist ära kustutada</p>
                        <p class="check">Mugav kasutuskeskkond testide vaatamiseks</p>
                        <p class="expl">Sisenedes nõustun <span>tingimustega</span></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 nopadding-md">
                <div class="login-box">
                    <div class="container">
                        <i class="ion-arrow-right-a"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>