@import "../../../assets/styles/global";

.jumbotron {
    background: $secondary-dark;
    p {
        font-size: 14px;
    }
    padding: 20px 0px 20px 0px;

    @media only screen and (min-width : 768px) {
        padding: 35px 0px 35px 0px;
    }
}

.btn-primary{
    background: $dark-green;
    height: 40px;
    border: none;
    margin-top: 0px;
    border-radius: 2px;
    font-family: Helvetica-M, sans-serif;
    &:focus {
        border: none;
        box-shadow: none;
        outline: none;
        color:inherit;
    }
    &:hover {
        background: $green;
    }
}

.welcome {
    h1 {
        color:white;
        font-size: 33px;
        margin-top:0px;

        /* Medium */
        @media only screen and (max-width : 992px) {
            font-size: 30px;
        }
    }

    h2 {
        color: $green;
        font-size: 15px;
        font-family: Helvetica-L;
        margin-top: -13px;

        /* Medium */
        @media only screen and (min-width : 992px) {
            margin-left: 40px;
        }
    }
}


.login-box {
    background-color: $main-dark;
    border-radius: 4px;

    .container {
        padding: 20px;
    }

    .lock {
        font-size: 100px;
        color: $green;
        text-align: center;
        height: 120px;
    }

    .form-control {
        background: none;
        border: none;
        border-bottom: 1px solid #434a52;
        border-radius: 0px;
        box-shadow: none;
        outline: none;
        color: inherit;
        font-size: 14px;
        font-family: Helvetica-L, sans-serif;
    }

    .btn-facebook {
        @extend .btn-primary;
        background: $facebook;
        padding: 0px;
        margin-top: 25px;

        &:hover {
            background: $facebook-hover;
            color: white;
        }
        p {
            display: inline-block;
            margin-top: 10px;
            margin-left: -20px;
        }
        .box {
            float:left;
            font-size: 20px;
            height: 100%;
            width: 50px;
            padding-top: 10px;
            border-right: 1px solid #344B78;
        }
    }

    .btn-google {
        @extend .btn-facebook;
        margin-top: -5px;
        background: $google;

        .box {
            border-right: 1px solid #A8433A;
        }

        &:hover {
            background: $google-hover;
            color: white;
        }
    }

    p {
        text-align: center;
        margin-bottom: -7px;
        font-family: Helvetica-L;
    }

}


.info-points {
    margin-top: 90px;

    /* Small */
    @media only screen and (max-width : 768px) {
        margin-top: 50px;
    }

    p {
        margin-top:-14px;
        font-family: Helvetica;
    }

    p.expl {
        margin-top: 10px;


        span {
            color: $green;
        }
    }

    p.check:before {
        font-family: FontAwesome;
        content: "\f058";
        font-size: 18px;
        color: $green;
        display: inline-block;
        margin-right: 10px;
    }

    p.expl:before {
        @extend p.check:before;
        content: "\f06a";
        color: white;
    }
}

.container.statistics {

    @media only screen and (min-width : 768px) {
        margin-top:-10px;

        .left{
            height: 70px;
            width: 210px;
        }

        .center {
            width: 170px;
            margin: 0 auto;
        }

        .right {
            width: 170px;
            float: right;
        }
    }

    @media only screen and (max-width : 768px) {

        .left, .center, .right {
            margin: 0 0 20px 30px;
            width: auto;
        }

    }

    .square {
        display: block;
        width: 36px;
        height: 36px;
        border-radius: 5px;
        padding-top: 7px;
        margin-top: 15px;
        margin-right: 10px;
        background: $green;
        font-size: 19px;
        text-align: center;
        float: left;
    }


    .info {
        padding: 0px;
        margin: 0px;

        h1 {
            font-family: Helvetica-L;
            margin: 0px;
        }

        p {
            color: $light-gray;
            margin-top: 4px;
            letter-spacing: 1px;
        }
    }
}


.contact {
    padding-top: 30px;
    padding-bottom: 20px;
    max-width: 700px;
    margin: 0 auto;

    h2 {
        padding-top: 10px;
        padding-bottom: 20px;
        text-align: center;
    }

    textarea {
        resize: none;
        height: 200px;
        padding: 15px;
    }

    input {
        padding: 20px 0 15px 15px;
    }

    textarea, input {

        &::placeholder {
            color: $gray;
        }

        &:focus {
            border-color: $green;
            box-shadow: 0 0 7px $green;
        }
    }

    .form-control {
        background: $secondary-dark;
        color: $light-gray;
        border: 0;
    }
}


.footer {
    background: $secondary-dark;
    padding-top: 20px;
    padding-bottom: 20px;

    p {
        color: $light-gray;
        text-align: right;
    }

    .right {
        float: right;
        color: $gray;
        margin-top: 20px;
        margin-right: 20px;
    }

    .social-links {
        text-align: center;

        a {
            display: inline-block;
            width:45px;
            height: 45px;
            border: 2px solid $dark-green;
            border-radius: 50px;
            margin: 6px;

            &:hover{
                border: 2px solid $green;
            }

            i {
                padding: 14px 11px;
                font-size: 20px;
                color: $dark-green;

                &:hover {
                    color: $green;
                }
            }
        }
    }
}
