<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="welcome-text-container col-lg-5">
                <h3 class="welcome">Tere tulemast moodleBoxi!</h3>
                <h4 class="welcome">Kiireim viis oma moodle testidel silm peal hoida</h4>
            </div>

            <div class="col-lg-3 col-lg-offset-4">
                <div class="row">
                    <div class="login-box col-lg-11 col-lg-offset-1">
                        <div class="container">
                            <div class="row">
                                <img class="lock" src="../assets/images/lock.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1" style="background: #363840; color:white">col 1</div>
            <div class="col-lg-1" style="color:white">col 2</div>
            <div class="col-lg-1" style="background: #363840; color:white">col 3</div>
            <div class="col-lg-1" style="color:white">col 4</div>
            <div class="col-lg-1" style="background: #363840; color:white">col 5</div>
            <div class="col-lg-1" style="color:white">col 6</div>
            <div class="col-lg-1" style="background: #363840; color:white">col 7</div>
            <div class="col-lg-1" style="color:white">col 8</div>
            <div class="col-lg-1" style="background: #363840; color:white">col 9</div>
            <div class="col-lg-1" style="color:white">col 10</div>
            <div class="col-lg-1" style="background: #363840; color:white">col 11</div>
            <div class="col-lg-1" style="color:white">col 12</div>
        </div>
    </div>
</div>