@import "../../../assets/styles/global";

.jumbotron {
    height: 400px;
    background: $secondary-dark;
}

h3.welcome {
    color:white;
    font-size: 33px;
    margin-top:0px;
}

h4.welcome {
    color: $green;
    font-size: 16px;
    margin-top: -10px;
    margin-left: 50px;
}

.container > .row {
   margin-top: -10px;
}

.login-box {
    background-color: $main-dark;
    border-radius: 4px;
}

.lock {
    display: block;
    margin: 20px auto 200px auto;
}