@import "../../../../assets/styles/variables";

div {
    font-family: Helvetica-L, sans-serif;

    li {
        width: 100%;
        a {
            color: white;
            padding: 6px 0 6px 20px;

            &:hover, &:active {
                background: none;
                color: $green;
            }

            &:focus {
                background: none;
            }
        }

        &.active a {
            background: $green;

            &:hover {
                color: white;
            }
        }
    }

    .header, i {
        overflow: hidden;
    }

    .toggleButton {
        display: none;
    }
}


// Mobile view
@media (max-width: 768px){
    .header {
        overflow: visible;
        position: absolute;
        height: 70px;
        width: 100%;
        right: 0;
        top: 0;
        z-index: 0;
        background: $secondary-dark;

        .toggleButton {
            display: inline;
            height: 100%;
            width: 80px;
            border: 0;
            background: none;
            outline: none;
            float: right;

            i {
                overflow: visible;
                font-size: 30px;
                color: $green;

                &.green {
                    color: $green-hover;
                }
            }
        }
    }
}
