<div (window:resize)="onResize()">
    <div *ngIf="isMobileView()" class="header">
        <button type="button" class="toggleButton" (click)="toggleMenu()">
            <i class="ion-navicon-round" *ngIf="isMenuCollapsed"></i>
            <i class="ion-navicon-round green" *ngIf="!isMenuCollapsed"></i>
        </button>
    </div>
    <div [ngClass]="(isMenuCollapsed==false)?'opened':'closed'">
        <h4 class="hidden-xs">{{ 'SIDEBAR.CONTENT' | translate}}</h4>
        <ul class="nav">
            <li><a [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" [routerLink]="['/home']">{{ 'SIDEBAR.OVERVIEW' | translate}}</a></li>
            <li *ngIf="isAdmin()">
                <a *ngIf="!isMobileView()" [routerLinkActive]="['active']" [routerLink]="['/admin']">
                    {{ 'SIDEBAR.ADMIN_PANEL' | translate}}
                </a>
                <a *ngIf="isMobileView()" (click)="toggleAdminSubMenu()">
                    {{ 'SIDEBAR.ADMIN_PANEL' | translate}}
                    <i class="ion-chevron-right" *ngIf="isAdminSubMenuCollapsed"></i>
                    <i class="ion-chevron-down" *ngIf="!isAdminSubMenuCollapsed"></i>
                </a>
                <div *ngIf="isMobileView()" [ngClass]="(isAdminSubMenuCollapsed==false)?'opened':'closed'">
                    <app-admin-sub-menu  (toggleParentMenu)="toggleMenu()" ></app-admin-sub-menu>
                </div>
            </li>
            <li><a [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" [routerLink]="['/tests']">{{ 'SIDEBAR.UPLOADED_TESTS' | translate}}</a></li>
            <li><a [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" [routerLink]="['/settings']">{{ 'SIDEBAR.USER_SETTINGS' | translate}}</a></li>
            <li><a [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" [routerLink]="['/']" (click)="onLogoutClick()">{{ 'SIDEBAR.LOGOUT' | translate}}</a></li>
        </ul>
    </div>
</div>
