@import "../../../../assets/styles/variables";

.header {
    overflow: hidden;
    max-height: 0px;
}

div {
    h4 {
        font-size: 14px;
        color: $gray;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    ul {
        margin-right: 30px;

        li {
            padding: 0;
            margin-bottom: 2px;
            font-size: 15px;
            font-weight: 300;

            .mobileOnly {
                overflow: hidden;
                max-height: 0px;
            }

            a, div a {
                display: block;
                margin: 0;
                color: white;
                padding-top: 4px;
                padding-bottom: 4px;
                padding-left: 20px;
                text-decoration: none;

                &.active {
                    background: $green;
                    border-radius: 3px;
                    font-weight: 400;
                    &:hover, &:focus {
                        background: $green;
                        color: white;
                    }
                }

                &:hover {
                    background: none;
                    color: $green;
                }

                &:focus {
                    background: none;
                }
            }

            &:last-child {
                font-weight: 500;
                margin-top: 10px;
            }
        }
    }
} 

// Mobile view
@media (max-width: 767px){

    .closed {
        overflow: hidden;
        max-height: 0px !important;
        transition: max-height 0.2s ease-out;
    }

    .opened {
        overflow: hidden;
        max-height: 350px;
        transition: max-height 0.3s ease-in;
    } 

    .header {
        max-height: 350px;
        position: absolute;
        height: 70px;
        width: 100%;
        right: 0;
        top: 0;
        z-index: 0;
        background: $secondary-dark;

        .toggleButton {
            display: inline;
            border: 0;
            outline: none;
            background: none;
            width: 80px;
            float: right;
            height: 100%;
            
            div {
                overflow: visible;
                font-size: 30px;
                color: $green;

                &.active {
                    color: $green-hover;
                }
            }
        }
    }

    div {
        line-height: 25px;
        
        ul.nav {
            li {
                padding-bottom: 0;
                width: calc(100% + 30px);

                .desktopOnly {
                    overflow: hidden;
                    max-height: 0px;
                }

                .mobileOnly {
                    margin-top: 0;
                    max-height: 1000px;
                }

                a {  
                    cursor: pointer;
                    font-size: 16px;
                    margin-top: 0px;

                    div {
                        display: inline;
                        position: absolute;
                        visibility: visible;
                        font-size: 13px;
                        margin-top: 2px;
                        margin-left: 4px;
                    }

                    &:hover, &.active, &.active:hover {
                        background: none;
                        color: $green;
                    }                                 
                }

                &:last-child {
                    margin-bottom: 10px;
                }       
            }
        }
    }
}
